## Select Data in Columns for Data Science
*Pivot the row-based data in a STOQS database to fit into a column-based dataframe*

This Notebook explores options raised by this [GitHub Issue](https://github.com/stoqs/stoqs/issues/837#issuecomment-763176111). We want to be able to efficiently extract mass quantities of data from a STOQS database and have it organized for efficient data analysis and visualization using modern data frame orientied tools.

Executing this Notebook requires a personal STOQS server.  It can be run from either a Docker installation or from a development Vagrant Virtual Machine. 

### Docker Instructions
Install and start the software as 
[detailed in the README](https://github.com/stoqs/stoqs#production-deployment-with-docker). (Note that on MacOS you will need to modify settings in your `docker-compose.yml` and `.env` files &mdash; look for comments referencing 'HOST_UID'.)

Then, from your `$STOQS_HOME/docker` directory start the Jupyter Notebook server - you can query from the remote database or from a copy that you've made to your local system: 

#### Option A: Query from MBARI's master database
Start the Jupyter Notebook server pointing to MBARI's master STOQS database server. (Note: firewall rules limit unprivileged access to such resources):

    docker-compose exec \
        -e DATABASE_URL=postgis://everyone:guest@kraken.shore.mbari.org:5432/stoqs \
        stoqs stoqs/manage.py shell_plus --notebook

#### Option B: Query from your local Docker Desktop
Restore the `stoqs_canon_october2020` database from MBARI's server onto your local database and start the Jupyter Notebook server using the default DATABASE_URL, which should be your local system, also make sure that your Docker Desktop has at least 16 GB or RAM allocated to it:

    cd $STOQS_HOME/docker
    docker-compose exec stoqs createdb -U postgres stoqs_canon_october2020
    curl -k https://stoqs.shore.mbari.org/media/pg_dumps/stoqs_canon_october2020.pg_dump | \
        docker exec -i stoqs pg_restore -Fc -U postgres -d stoqs_canon_october2020
    docker-compose exec stoqs stoqs/manage.py shell_plus --notebook

###  Opening this Notebook
Following execution of the `stoqs/manage.py shell_plus --notebook` command a message is displayed giving a URL for you to use in a browser on your host, e.g.:

    http://127.0.0.1:8888/?token=<a_token_generated_upon_server_start>

In the browser window opened to this URL navigate to this file (`select_data_in_columns_for_data_science.ipynb`) and open it. You will then be able to execute the cells and modify the code to suit your needs.

The information in the output cells result from execution on a 2019 MacBook Pro with a 2.4 GHz 8-Core Intel Core i9 processor, 32 GB 2667 MHz DDR4 RAM, running Docker Desktop 3.1.0 with 16 GB with 4 CPUs and 16 GB allocated.

In [1]:
import os

# Prevent SynchronousOnlyOperation exceptions
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

# Set do_plots to True for visualizations (do not commit with this setting)
do_plots = False
import time
t_start = time.time()

# Use a recent database available at DATABASE_URL
db = 'stoqs_canon_october2020'

#### 0. Perform a straight forward query using the STOQS data model.
Collect all the sea_water_temperature and sea_water_salinity data into dictionaries keyed by platform name. This is to examine the landscape of data we are querying.

In [2]:
# To make sure we collect temperatures and salinities that are properly associated
# we will first find all the Platforms that have T & S and then from each Measurement
# from the Platform collect the temperatures and salinities into lists for plotting.
# Assume that Platforms that have sea_water_salinity also have sea_water_temperature.
platforms = (ActivityParameter.objects.using(db)
                              .filter(parameter__standard_name='sea_water_salinity')
                              .values_list('activity__platform__name', flat=True)
                              .distinct().order_by('activity__platform__name'))
temps = {}
salts = {}
for platform in platforms:
    print(f"Collecting data for: {platform:23}", end=' ')
    mps = (MeasuredParameter.objects.using(db)
           .filter(measurement__instantpoint__activity__platform__name=platform))
    
    temps[platform] = (mps.filter(parameter__standard_name='sea_water_temperature')
                          .values_list('datavalue', flat=True))
    salts[platform] = (mps.filter(parameter__standard_name='sea_water_salinity')
                          .values_list('datavalue', flat=True))
    print(f"#temps: {len(temps[platform]):6}  #salts: {len(salts[platform]):6}", end='')
    if len(temps[platform]) != len(salts[platform]):
        print(' - not equal')
    else:
        print()
print('Done')

Collecting data for: dorado                  #temps: 169159  #salts: 169159
Collecting data for: M1_Mooring              #temps:   6600  #salts:   6600
Collecting data for: makai                   #temps: 154793  #salts: 154797 - not equal
Collecting data for: makai_ESPmv1_filtering  #temps:  29857  #salts:  29857
Collecting data for: makai_Sipper            #temps:    595  #salts:    595
Collecting data for: NPS_Glider_29           #temps:  33143  #salts:  33143
Collecting data for: NPS_Glider_34           #temps:  32759  #salts:  32759
Collecting data for: pontus                  #temps: 132945  #salts: 132947 - not equal
Collecting data for: wg_Tiny_Glider          #temps:    386  #salts:    386
Done

In [3]:
if do_plots:
    # Make a T/S plot of data from all the platforms
    import pylab as plt
    plt.rcParams['figure.figsize'] = (18, 6)
    for platform in temps.keys():
        if len(temps[platform]) == len(salts[platform]):
            plt.scatter(salts[platform], temps[platform], s=1, label=platform)
    plt.legend();

#### Approach 1. Use the same kind of self-join query used for selecting data for Parameter-Parameter plots. 
A sample SQL statement was copied from the STOQS UI and then modified to select sea_water_temperature and sea_water_salinity from all platforms.

In [4]:
sql_multp = '''SELECT DISTINCT 
                stoqs_platform.name,
                stoqs_instantpoint.timevalue,
                stoqs_measurement.depth,
                mp_salt.datavalue AS salt,
                mp_temp.datavalue AS temp
FROM stoqs_measuredparameter
INNER JOIN stoqs_measurement ON (stoqs_measuredparameter.measurement_id = stoqs_measurement.id)
INNER JOIN stoqs_instantpoint ON (stoqs_measurement.instantpoint_id = stoqs_instantpoint.id)
INNER JOIN stoqs_activity ON (stoqs_instantpoint.activity_id = stoqs_activity.id)
INNER JOIN stoqs_platform ON (stoqs_activity.platform_id = stoqs_platform.id)
INNER JOIN stoqs_measurement m_salt ON m_salt.instantpoint_id = stoqs_instantpoint.id
INNER JOIN stoqs_measuredparameter mp_salt ON mp_salt.measurement_id = m_salt.id
INNER JOIN stoqs_parameter p_salt ON mp_salt.parameter_id = p_salt.id
INNER JOIN stoqs_measurement m_temp ON m_temp.instantpoint_id = stoqs_instantpoint.id
INNER JOIN stoqs_measuredparameter mp_temp ON mp_temp.measurement_id = m_temp.id
INNER JOIN stoqs_parameter p_temp ON mp_temp.parameter_id = p_temp.id
WHERE (p_salt.standard_name = 'sea_water_temperature')
  AND (p_temp.standard_name = 'sea_water_salinity')
  AND stoqs_platform.name IN ({})
ORDER BY stoqs_instantpoint.timevalue, stoqs_measurement.depth'''

In [5]:
import os

# Build the SQL with optional selection of platforms to use
db = 'stoqs_canon_october2020'
platforms = (ActivityParameter.objects.using(db)
                              .filter(parameter__standard_name='sea_water_salinity')
                              .values_list('activity__platform__name', flat=True)
                              .order_by('activity__platform__name').distinct())
plats = ''
plat_list = []
for platform in platforms:
    if platform == 'makai' or platform == 'pontus' or platform == 'M1_Mooring':
        # Omit some platforms for shorter execution times
        continue
    plats += f"'{platform}',"
    plat_list.append(platform)
plats = plats[:-2] + "'"
sql = sql_multp.format(plats)
print(sql)

SELECT DISTINCT
                stoqs_platform.name,
                stoqs_instantpoint.timevalue,
                stoqs_measurement.depth,
                mp_salt.datavalue AS salt,
                mp_temp.datavalue AS temp
FROM stoqs_measuredparameter
INNER JOIN stoqs_measurement ON (stoqs_measuredparameter.measurement_id = stoqs_measurement.id)
INNER JOIN stoqs_instantpoint ON (stoqs_measurement.instantpoint_id = stoqs_instantpoint.id)
INNER JOIN stoqs_activity ON (stoqs_instantpoint.activity_id = stoqs_activity.id)
INNER JOIN stoqs_platform ON (stoqs_activity.platform_id = stoqs_platform.id)
INNER JOIN stoqs_measurement m_salt ON m_salt.instantpoint_id = stoqs_instantpoint.id
INNER JOIN stoqs_measuredparameter mp_salt ON mp_salt.measurement_id = m_salt.id
INNER JOIN stoqs_parameter p_salt ON mp_salt.parameter_id = p_salt.id
INNER JOIN stoqs_measurement m_temp ON m_temp.instantpoint_id = stoqs_instantpoint.id
INNER JOIN stoqs_measuredparameter mp_temp ON mp_temp.measurement_id = m_temp.id
INNER JOIN stoqs_parameter p_temp ON mp_temp.parameter_id = p_temp.id
WHERE (p_salt.standard_name = 'sea_water_temperature')
  AND (p_temp.standard_name = 'sea_water_salinity')
  AND stoqs_platform.name IN ('dorado','makai_ESPmv1_filtering','makai_Sipper','NPS_Glider_29','NPS_Glider_34','wg_Tiny_Glider')
ORDER BY stoqs_instantpoint.timevalue, stoqs_measurement.depth

In [6]:
import pandas as pd
from django.db import connections

# For all platforms it takes about 2 minutes to read about 25 million rows from the STOQS database. 
# It takes about 1 minute to read about 7 million rows from the STOQS database.
%time df1 = pd.read_sql_query(sql, connections[db])
df1.shape

CPU times: user 500 ms, sys: 70.2 ms, total: 570 ms
Wall time: 7.76 s

(266285, 5)

In [7]:
# Writing the Parquet file takes about 3 seconds
%time df1.to_parquet('all_plats.parquet')

CPU times: user 129 ms, sys: 36.7 ms, total: 166 ms
Wall time: 226 ms

In [8]:
# Reading the Parquest file takes about 1 second
%time df1b = pd.read_parquet('all_plats.parquet')
df1b.shape

CPU times: user 36.3 ms, sys: 18.1 ms, total: 54.4 ms
Wall time: 85.1 ms

(266285, 5)

In [9]:
if do_plots:
    # See: http://holoviews.org/user_guide/Large_Data.html
    import colorcet
    import holoviews as hv
    from holoviews.operation.datashader import rasterize
    hv.extension("bokeh")
    ropts = dict(height=380, width=330, colorbar=True, colorbar_position="bottom", cmap=colorcet.fire)

    hv.Layout([rasterize(hv.Points(df1.loc[df1['name'] == p],kdims=['temp', 'salt'])).opts(**ropts).relabel(p) 
               for p in plat_list])

This approach could be used in a general way to extract all Parameters for each Platform by dynamically generating the SQL (with dozens more self joins) and executing it. We do need more scalable methods than `.read_sql_query()` and `.to_parquet()`, which need to read and write all the data in to and out of allocated random access memory. This is why at least a resource of 16 GB of RAM is needed in Docker Desktop for this query - larger data requests would require more memory - this is not scalable. 

---

#### Approach 2. Use Brent's trimSTOQS program to convert the MeasuredParameter Data Access output:

In [10]:
# It takes about 5 minutes to read in 0.17 million dorado CSV rows and convert using trimSTOQS
##! time wget https://stoqs.mbari.org/stoqs_canon_october2020/api/measuredparameter.csv?measurement__instantpoint__activity__platform__name=dorado \
##    -q -O - | /srv/stoqs/contrib/trimSTOQS/trimSTOQS parameter__name --separator=, > october2020_dorado_parms.cvs
##df2 = pd.read_csv('/srv/stoqs/contrib/trimSTOQS/october2020_dorado_parms.cvs')

# It takes about 30 seconds to read in just 0.033 million NPS_Glider_29 CSV rows and convert using trimSTOQS
! time wget http://stoqs.mbari.org/stoqs_canon_october2020/api/measuredparameter.csv?measurement__instantpoint__activity__platform__name=NPS_Glider_29 \
    -q -O - | /srv/stoqs/contrib/trimSTOQS/trimSTOQS parameter__name --separator=, \
    > /srv/stoqs/contrib/trimSTOQS/october2020_NPS_Glider_29_parms.cvs
    
df2 = pd.read_csv('/srv/stoqs/contrib/trimSTOQS/october2020_NPS_Glider_29_parms.cvs')
df2.shape
df2.head()

0.13user 0.86system 0:09.21elapsed 10%CPU (0avgtext+0avgdata 6728maxresident)k
0inputs+0outputs (0major+361minor)pagefaults 0swaps

,timevalue,depth,geom.x,geom.y,altitude,TEMP (Celsius),PSAL (0.001),OXYG (ml/L),sigmat,spice,NPS_Glider_29
0,2020-10-06 19:07:40.800002,0.000000,-121.853996,36.803799,280.567732,13.956,33.462002,6.002,25.007821,0.682620,NaN
1,2020-10-06 19:07:57.931036,0.794097,-121.854050,36.803795,280.170345,13.845,33.466999,5.918,25.034645,0.663049,NaN
2,2020-10-06 19:08:15.062071,1.885975,-121.854103,36.803787,279.502588,13.731,33.467999,5.815,25.058888,0.639810,NaN
3,2020-10-06 19:08:32.193105,2.878586,-121.854149,36.803780,278.858728,13.626,33.472000,5.716,25.083488,0.620954,NaN
4,2020-10-06 19:08:49.324140,3.970453,-121.854202,36.803772,278.152412,13.590,33.469002,5.624,25.088541,0.611061,NaN

The advantage of this approach is that all parameters get transformed into the columns we want. The disadvantage is that it takes a long time to extract the data in CSV format. Approach 1 reads at a rate of about 30,000 rows/sec, approach 2 reads at a rate of 1000 rows/sec - **orders of magnitude slower**.

---

#### 3. Do a direct Postgresql query to transform the data, perhaps using the [crosstab() function](https://stackoverflow.com/questions/3002499/postgresql-crosstab-query/11751905#11751905). 

Need to do this on the database first:

    % docker-compose exec postgis psql -U postgres  
    postgres=# \c stoqs_canon_october2020
    stoqs_canon_october2020=# CREATE EXTENSION IF NOT EXISTS tablefunc;
    CREATE EXTENSION

In [11]:
# Base query that's similar to the one behind the api/measuredparameter.csv request
sql_base = '''SELECT stoqs_platform.name as platform, stoqs_instantpoint.timevalue, stoqs_measurement.depth, 
       ST_X(stoqs_measurement.geom) as longitude, ST_Y(stoqs_measurement.geom) as latitude,
       stoqs_parameter.name, standard_name, datavalue 
FROM public.stoqs_measuredparameter
INNER JOIN stoqs_measurement ON (stoqs_measuredparameter.measurement_id = stoqs_measurement.id)
INNER JOIN stoqs_instantpoint ON (stoqs_measurement.instantpoint_id = stoqs_instantpoint.id)
INNER JOIN stoqs_activity ON (stoqs_instantpoint.activity_id = stoqs_activity.id)
INNER JOIN stoqs_platform ON (stoqs_activity.platform_id = stoqs_platform.id)
INNER JOIN stoqs_parameter ON (stoqs_measuredparameter.parameter_id = stoqs_parameter.id)
WHERE stoqs_platform.name IN ({})
ORDER BY stoqs_instantpoint.timevalue, stoqs_parameter.name'''
sql = sql_base.format(plats)
print(sql)

SELECT stoqs_platform.name as platform, stoqs_instantpoint.timevalue, stoqs_measurement.depth,
       ST_X(stoqs_measurement.geom) as longitude, ST_Y(stoqs_measurement.geom) as latitude,
       stoqs_parameter.name, standard_name, datavalue
FROM public.stoqs_measuredparameter
INNER JOIN stoqs_measurement ON (stoqs_measuredparameter.measurement_id = stoqs_measurement.id)
INNER JOIN stoqs_instantpoint ON (stoqs_measurement.instantpoint_id = stoqs_instantpoint.id)
INNER JOIN stoqs_activity ON (stoqs_instantpoint.activity_id = stoqs_activity.id)
INNER JOIN stoqs_platform ON (stoqs_activity.platform_id = stoqs_platform.id)
INNER JOIN stoqs_parameter ON (stoqs_measuredparameter.parameter_id = stoqs_parameter.id)
WHERE stoqs_platform.name IN ('dorado','makai_ESPmv1_filtering','makai_Sipper','NPS_Glider_29','NPS_Glider_34','wg_Tiny_Glider')
ORDER BY stoqs_instantpoint.timevalue, stoqs_parameter.name

In [12]:
import pandas as pd
from django.db import connections

# It takes about 4 seonds to read all the Parameters for the selected platforms
%time df3a = pd.read_sql_query(sql, connections[db], index_col=['platform', 'timevalue'])
print(df3a.shape)
df3a.head()

CPU times: user 9.38 s, sys: 1.7 s, total: 11.1 s
Wall time: 33.6 s
(3683189, 6)

                                    depth  longitude  latitude  \
platform       timevalue
wg_Tiny_Glider 2020-10-05 23:20:00   -1.0 -121.83494  36.79765
               2020-10-05 23:20:00    0.5 -121.83494  36.79765
               2020-10-05 23:20:00   -1.0 -121.83494  36.79765
               2020-10-05 23:20:00   -1.0 -121.83494  36.79765
               2020-10-05 23:20:00   -1.0 -121.83494  36.79765

                                                  name  \
platform       timevalue
wg_Tiny_Glider 2020-10-05 23:20:00        air_temp (C)
               2020-10-05 23:20:00            altitude
               2020-10-05 23:20:00            altitude
               2020-10-05 23:20:00    atm_press (mbar)
               2020-10-05 23:20:00  avg_wind_spd (m/s)

                                             standard_name    datavalue
platform       timevalue
wg_Tiny_Glider 2020-10-05 23:20:00         air_temperature    10.900000
               2020-10-05 23:20:00  height_above_sea_floor   133.670604
               2020-10-05 23:20:00  height_above_sea_floor   135.170604
               2020-10-05 23:20:00    surface_air_pressure  1016.000000
               2020-10-05 23:20:00              wind_speed     4.400000

In [13]:
df3a.shape

(3683189, 6)

#### Approach 4. Use Pandas do a pivot on data read into a DataFrame
Similar to Approach 2, but this may be more efficient as conversion to and from CSV text format is avoided.

In [14]:
import numpy as np

context = ['platform', 'timevalue', 'depth', 'latitude', 'longitude']

%time df4 = df3a.pivot_table(index=context, columns='name', values='datavalue')
print(df4.shape)
df4.head()

CPU times: user 4.34 s, sys: 325 ms, total: 4.66 s
Wall time: 4.68 s
(312470, 51)

name                                                                     O2_conc (umol/kg)  \
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996                NaN
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050                NaN
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103                NaN
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149                NaN
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202                NaN

name                                                                     OXYG  \
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996   NaN
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050   NaN
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103   NaN
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149   NaN
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202   NaN

name                                                                     OXYG (ml/L)  \
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996        6.002
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050        5.918
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103        5.815
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149        5.716
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202        5.624

name                                                                     PAR (umol/s/m2)  \
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996              NaN
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050              NaN
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103              NaN
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149              NaN
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202              NaN

name                                                                     PSAL (0.001)  \
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996     33.462002
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050     33.466999
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103     33.467999
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149     33.472000
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202     33.469002

name                                                                     TEMP (Celsius)  \
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996          13.956
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050          13.845
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103          13.731
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149          13.626
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202          13.590

name                                                                     air_temp (C)  \
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996           NaN
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050           NaN
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103           NaN
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149           NaN
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202           NaN

name                                                                       altitude  \
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996  280.567732
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050  280.170345
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103  279.502588
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149  278.858728
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202  278.152412

name                                                                     atm_press (mbar)  \
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996               NaN
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050               NaN
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103               NaN
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149               NaN
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202               NaN

name                                                                     avg_wind_spd (m/s)  \
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996                 NaN
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050                 NaN
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103                 NaN
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149                 NaN
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202                 NaN

name                                                                     ...  \
platform      timevalue                  depth    latitude  longitude    ...
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996  ...
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050  ...
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103  ...
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149  ...
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202  ...

name                                                                     salinity  \
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996       NaN
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050       NaN
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103       NaN
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149       NaN
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202       NaN

name                                                                     salinity (psu)  \
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996             NaN
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050             NaN
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103             NaN
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149             NaN
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202             NaN

name                                                                     sepCountList (count)  \
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996                   NaN
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050                   NaN
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103                   NaN
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149                   NaN
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202                   NaN

name                                                                        sigmat  \
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996  25.007821
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050  25.034645
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103  25.058888
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149  25.083488
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202  25.088541

name                                                                        spice  \
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996  0.682620
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050  0.663049
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103  0.639810
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149  0.620954
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202  0.611061

name                                                                     temperature (Celsius)  \
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996                    NaN
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050                    NaN
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103                    NaN
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149                    NaN
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202                    NaN

name                                                                     temperature (degC)  \
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996                 NaN
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050                 NaN
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103                 NaN
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149                 NaN
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202                 NaN

name                                                                     water_temp (C)  \
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996             NaN
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050             NaN
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103             NaN
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149             NaN
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202             NaN

name                                                                     wind_dir (deg (True))  \
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996                    NaN
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050                    NaN
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103                    NaN
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149                    NaN
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202                    NaN

name                                                                     yaw (degree)
platform      timevalue                  depth    latitude  longitude
NPS_Glider_29 2020-10-06 19:07:40.800002 0.000000 36.803799 -121.853996           NaN
              2020-10-06 19:07:57.931036 0.794097 36.803795 -121.854050           NaN
              2020-10-06 19:08:15.062071 1.885975 36.803787 -121.854103           NaN
              2020-10-06 19:08:32.193105 2.878586 36.803780 -121.854149           NaN
              2020-10-06 19:08:49.324140 3.970453 36.803772 -121.854202           NaN

[5 rows x 51 columns]

In [15]:
sql = '''SELECT
	* 
FROM
	crosstab('SELECT to_char(stoqs_instantpoint.timevalue, ''YYYY-MM-DD"T"HH24:MI:SS"Z"'') as timevalue, 
	                  name as name, datavalue as datavalue FROM public.stoqs_measuredparameter
INNER JOIN stoqs_measurement ON (stoqs_measuredparameter.measurement_id = stoqs_measurement.id)
INNER JOIN stoqs_instantpoint ON (stoqs_measurement.instantpoint_id = stoqs_instantpoint.id)
INNER JOIN stoqs_parameter ON (stoqs_measuredparameter.parameter_id = stoqs_parameter.id)
ORDER BY stoqs_instantpoint.timevalue, name') 
AS final_result("timevalue" TEXT, "temperature (Celsius)" FLOAT, "salinity" FLOAT)'''

In [16]:
import pandas as pd
from django.db import connections

# The crosstab query takes about 40 seconds
%time df3 = pd.read_sql_query(sql, connections['default'])
df3.shape

CPU times: user 3 ms, sys: 997 Âµs, total: 3.99 ms
Wall time: 37.9 ms

(122, 3)

In [17]:
df3

                timevalue  temperature (Celsius)  salinity
0    2010-10-27T21:04:19Z               0.008944  0.000197
1    2010-10-27T21:30:00Z              14.840909 -1.845499
2    2010-10-27T21:34:19Z               0.008771  0.000120
3    2010-10-27T21:51:55Z              41.491811  0.005010
4    2010-10-27T22:04:17Z               0.009029  0.000157
..                    ...                    ...       ...
117  2010-10-28T23:34:19Z               0.008593  0.000505
118  2010-10-28T23:49:19Z               0.008653  0.000505
119  2010-10-29T00:23:05Z               0.008574  0.000483
120  2010-10-29T00:30:00Z              16.406666 -8.640003
121  2010-10-29T00:49:19Z               0.008574  0.000464

[122 rows x 3 columns]

In [18]:
if do_plots:
    # See: https://datashader.org/getting_started/Pipeline.html
    import holoviews as hv
    from holoviews.operation.datashader import datashade
    hv.extension("bokeh")

    # Uncomment for interactive plots
    pts1 = hv.Points(df1, kdims=['salt', 'temp'])
    pts2 = hv.Points(df2, kdims=['PSAL (0.001)', 'TEMP (Celsius)'])
    pts3 = hv.Points(df3, kdims=['salinity', 'temperature (Celsius)'])
    (  datashade(pts1, cmap=colorcet.fire).opts(title='df1')
     + datashade(pts2, cmap=colorcet.fire).opts(title='df2')
     + datashade(pts3, cmap=colorcet.fire).opts(title='df3'))

In [19]:
if do_plots:
    # See: http://holoviews.org/user_guide/Large_Data.html
    from holoviews.operation.datashader import rasterize
    ##ropts = dict(tools=["pan,wheel_zoom,box_zoom"], height=380, width=330, colorbar=True, colorbar_position="bottom")
    ropts = dict(height=380, width=330, colorbar=True, colorbar_position="bottom")

    %time hv.Layout([rasterize(hv.Points(df1.loc[df1['name'] == p],kdims=['temp', 'salt'])).opts(**ropts).relabel(p)for p in plat_list])

In [20]:
df2.head()

,timevalue,depth,geom.x,geom.y,altitude,TEMP (Celsius),PSAL (0.001),OXYG (ml/L),sigmat,spice,NPS_Glider_29
0,2020-10-06 19:07:40.800002,0.000000,-121.853996,36.803799,280.567732,13.956,33.462002,6.002,25.007821,0.682620,NaN
1,2020-10-06 19:07:57.931036,0.794097,-121.854050,36.803795,280.170345,13.845,33.466999,5.918,25.034645,0.663049,NaN
2,2020-10-06 19:08:15.062071,1.885975,-121.854103,36.803787,279.502588,13.731,33.467999,5.815,25.058888,0.639810,NaN
3,2020-10-06 19:08:32.193105,2.878586,-121.854149,36.803780,278.858728,13.626,33.472000,5.716,25.083488,0.620954,NaN
4,2020-10-06 19:08:49.324140,3.970453,-121.854202,36.803772,278.152412,13.590,33.469002,5.624,25.088541,0.611061,NaN

In [21]:
if do_plots:
    %time hv.Layout([rasterize(hv.Points(df1.loc[df2['name'] == p],kdims=['TEMP (Celsius)', 'PSAL (0.001)'])).opts(**ropts).relabel(p)for p in plat_list])

In [22]:
if do_plots:
    df_p = df.hvplot.points('temp', 'salt', title=platform,
                                datashade=True, dynspread=True, 
                                frame_height=450)

In [23]:
ct_sql = '''SELECT
	* 
FROM
	crosstab( 'SELECT to_char(stoqs_instantpoint.timevalue, ''YYYY-MM-DD"T"HH24:MI:SS"Z"'') as timevalue, 
	                  stoqs_parameter.name as name, datavalue as datavalue FROM public.stoqs_measuredparameter
INNER JOIN stoqs_measurement ON (stoqs_measuredparameter.measurement_id = stoqs_measurement.id)
INNER JOIN stoqs_instantpoint ON (stoqs_measurement.instantpoint_id = stoqs_instantpoint.id)
INNER JOIN stoqs_activity ON (stoqs_instantpoint.activity_id = stoqs_activity.id)
INNER JOIN stoqs_platform ON (stoqs_activity.platform_id = stoqs_platform.id)
INNER JOIN stoqs_parameter ON (stoqs_measuredparameter.parameter_id = stoqs_parameter.id)
WHERE stoqs_platform.name IN (''makai_ESPmv1_filtering'')
ORDER BY stoqs_instantpoint.timevalue, stoqs_parameter.name') 
AS final_result("timevalue" TEXT, "temperature (Celsius)" FLOAT, "salinity" FLOAT)'''

In [24]:
print(f"Elapsed seconds: {time.time() - t_start} seconds")

Elapsed seconds: 65.21948766708374 seconds